{% load static %}


<footer class="bg-dark text-white">
  <div class="container">
    <div class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      
        <a href="/" class=" d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto  text-white text-decoration-none">
           <img src="{% static 'main/img/logo.png' %}" alt=""  width="70" height="70">
          </a>
          <p class="col-md-4 mb-0 text-white">© 2023 Created by <a href="" class="text-danger text-decoration-none">Weblider</a></p>
  
      <ul class="nav col-md-4  justify-content-end">
        <li class="nav-item"><a href="#about" class="nav-link px-2 text-white nav-text">Biz haqimizda</a></li>
        <li class="nav-item"><a href="#gallery" class="nav-link px-2 text-white nav-text">Galereya</a></li>
        <li class="nav-item"><a href="#teacher" class="nav-link px-2 text-white nav-text">Ustozlar</a></li>
        <li class="nav-item"><a href="#news" class="nav-link px-2 text-white nav-text">Yangiliklar</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link px-2 text-white nav-text">Aloqa</a></li>
      </ul>
    </div>
  </div>
  </footer>