{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'main/img/logo.png' %}" width="70" height="70" alt="logo" class="d-inline-block align-middle">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white nav-text" href="#about">Biz haqimizda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white nav-text" href="#gallery">Galereya</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white nav-text" href="#teachers">Ustozlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white nav-text" href="#news">Yangiliklar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white nav-text" href="#contact">Aloqa</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
