{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top navbar-shadow"
  style="z-index: 100; width: 100%;   border-bottom: 2px solid rgba(255, 255, 255, 0.2);"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="{% static 'main/img/logo.png' %}"
        width="70"
        height="70"
        alt="logo"
        class="d-inline-block align-middle"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
              class="nav-link text-white nav-text"
              href=""
              onclick="scrollToSection('about'); return false;"
          >
              Biz haqimizda
          </a>
      </li>
        <li class="nav-item">
          <a
              class="nav-link text-white nav-text"
              href=""
              onclick="scrollToSection('gallery'); return false;"
          >
              Galereya
          </a>
      </li>
      
      <li class="nav-item">
        <a
            class="nav-link text-white nav-text"
            href=""
            onclick="scrollToSection('teachers'); return false;"
        >
            Ustozlar
        </a>
    </li>
    <li class="nav-item">
      <a
          class="nav-link text-white nav-text"
          href=""
          onclick="scrollToSection('news'); return false;"
      >
          Yangiliklar
      </a>
  </li>
  <li class="nav-item">
    <a
        class="nav-link text-white nav-text"
        href=""
        onclick="scrollToSection('contact'); return false;"
    >
        Aloqa
    </a>
</li>
      </ul>
    </div>
  </div>
</nav>


{% block extra_js %} 
<script>
  function scrollToSection(id) {
  const element = document.getElementById(id);
  if (element) {
      element.scrollIntoView({ behavior: 'smooth', block: 'start' });
      console.log(`Scroll to section: ${id}`);
  } else {
      console.warn(`Section with id ${id} not found`);
  }
}
</script>

{% endblock%}