<section id="about" class="container py-5">
    <div class="row align-items-center">

        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="card border-0 shadow-sm p-4 text-white bg-dark">
                <h2 class="text-center mb-4" style="letter-spacing: 2px;">Biz haqimizda</h2>
                <p class="lead text-center">Toshkent viloyati Angren Shahar 4-umumta'lim maktabi IT sohasiga ixtisoslashgan.</p>
                <p>
                    {{about}}
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row g-4">
                {% for document in documents %}
                <div class="col-md-4   d-flex flex-column align-items-center">
                    <img src="{{ document.document_img.url }}"
                         alt="Hujjat rasmi" 
                         class="img-fluid rounded mb-3" 
                         style=" object-fit: cover; width: 290px; height: 300px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);">
                    <a class=" d-flex text-decoration-none text-dark align-items-center gap-3 text-center" href="{{ document.document.url }}" target="_blank">
                        Yuklab olish <i class="bi bi-download text-warning"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
