{% block extra_css %}
<style>
  .slideshow-container {
    position: relative;
  }

  .slideshow-container .mySlides {
    display: none;
  }

  .slideshow-container .cursor {
    cursor: pointer;
    position: relative;
  }

  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .slideshow-container .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .slideshow-container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .slideshow-container .column {
    flex: 0 0 calc(16.66% - 10px);
    max-width: calc(13% - 10px);
    box-sizing: border-box;
  }

  .slideshow-container .active,
  .slideshow-container .demo:hover {
    opacity: 1;
  }

  .slideshow-container .hidden {
    display: none;
  }

  #toggleButton {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #toggleButton:hover {
    background-color: #ffc107d6;
  }
  .imageSlide {
    position: relative;
  }
  .prev,
  .next {
    position: absolute;
    top: -130px;
  }
</style>
{% endblock %}

<div
  class="container slideshow-container"
  id="gallery"
  style="scroll-margin-top: 7rem"
>
  <h2 style="text-align: center; margin-top: 60px">Maktab Rasmlari</h2>

  <div class="images">
    {% for gallery in reversed_gallery %}
    <div class="mySlides">
      <img
        class="imageSlide"
        src="{{ gallery.gallery.url }}"
        style="width: 100%"
        height="600px"
      />
      <button
        class="carousel-control-prev prev"
        type="button"
        data-bs-slide="prev"
        onclick="plusSlides(-1)"
      >
        <span
          class="carousel-control-prev-icon btn btn-dark"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next"
        type="button"
        data-bs-slide="next"
        onclick="plusSlides(1)"
      >
        <span
          class="carousel-control-next-icon btn btn-dark"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    {% endfor %}

    <div class="row mt-2" id="imageRow">
      {% for gallery in reversed_gallery %}
      <div
        class="column demo-container {% if forloop.counter > 7 %}hidden{% endif %}"
      >
        <img
          class="demo cursor"
          src="{{ gallery.gallery.url }}"
          style="width: 150px; height: 120px"
          onclick="currentSlide({{ forloop.counter }})"
          alt="Gallery Thumbnail"
        />
      </div>
      {% endfor %}
    </div>

    <div style="text-align: center; margin-top: 20px">
      <!-- <button id="toggleButton" onclick="toggleImages()">
        Hammasini ko'rsatish
      </button> -->

      <svg
        id="arrowDown"
        onclick="toggleImages()"
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        viewBox="0 0 512 512"
      >
        <path
          d="M256 294.1L96 134.1c-8.8-8.8-8.8-23.2 0-32s23.2-8.8 32 0L256 230.1l128-128c8.8-8.8 23.2-8.8 32 0s8.8 23.2 0 32L256 294.1z"
        />
      </svg>
      <svg
        id="arrowUp"
        onclick="toggleImages()"
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        viewBox="0 0 512 512"
        style="display: none"
      >
        <path
          d="M256 217.9L416 377.9c8.8 8.8 8.8 23.2 0 32s-23.2 8.8-32 0L256 281.9l-128 128c-8.8 8.8-23.2 8.8-32 0s-8.8-23.2 0-32L256 217.9z"
        />
      </svg>
    </div>
  </div>
</div>

{% block extra_js %}
<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.querySelectorAll('.slideshow-container .mySlides');
    let dots = document.querySelectorAll('.slideshow-container .demo');
    let captionText = document.getElementById('caption');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }

    slides.forEach((slide) => (slide.style.display = 'none'));
    dots.forEach(
      (dot) => (dot.className = dot.className.replace(' active', ''))
    );

    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }

  function toggleImages() {
    const hiddenImages = document.querySelectorAll(
      '.slideshow-container .demo-container.hidden'
    );
    const arrowDown = document.getElementById('arrowDown');
    const arrowUp = document.getElementById('arrowUp');

    if (hiddenImages.length > 0) {
      hiddenImages.forEach((image) => image.classList.remove('hidden'));
      arrowDown.style.display = 'none';
      arrowUp.style.display = 'inline';
    } else {
      const allImages = document.querySelectorAll(
        '.slideshow-container .demo-container'
      );
      allImages.forEach((image, index) => {
        if (index >= 7) {
          image.classList.add('hidden');
        }
      });
      arrowDown.style.display = 'inline';
      arrowUp.style.display = 'none';
    }
  }
</script>
{% endblock %}


