<section
  class="hero bg-cover bg-center d-flex justify-content-center align-items-center hero mt-10"
>
  <div class="text-center text-white px-4">
    <h1 class="display-4 hero_title fw-bold">
      Toshkent viloyati Angren Shahar 4 - umumta'lim maktabi
    </h1>
    <p class="lead mb-4 hero_text">
      Bizning maktabimizda ta'lim olish sizni yangi imkoniyatlarga olib keladi!
      Keling, birgalikda bilim olamiz.
    </p>
    <a href="#contact" class="btn btn-warning btn-lg px-5 py-3"
      >Biz bilan bog'laning</a
    >
  </div>
</section>
