{% load static %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{% static 'main/css/teachers.css' %}" />

<div id="teacher" class="container" style="scroll-margin-top: 10rem">
  <div id="teachers" class="teachers-swiper-container container">
    <h2 class="maktab-rasmlari text-white">Ustozlarimiz</h2>
    <p class="text-center text-white w-75 mx-auto mb-5">
      4 - sonli umumta'lim ustozlari nafaqat bilimdon, balki yoshlarni
      tarbiyalashda, ularga ma'naviy va axloqiy qadriyatlarni singdirishda ham
      o'zini namoyon qilgan mutaxassislardir. Har bir ustozimiz, ta'lim
      jarayonida shaxsiy yondashuv va kreativ metodlarni qo'llab, har bir
      o'quvchining ichki potentsialini ochishga intiladi. Bizning
      ustozlarimizning har biri o'z sohasining ustalari bo'lib, har bir darsni
      qiziqarli va samarali o'tkazishga harakat qilishadi.
    </p>
    <div class="swiper-wrapper">
      {% for teacher in teachers %}
      <div class="swiper-slide">
        <img
          class="shadow"
          src="{{ teacher.teacher_img.url }}"
          alt="{{ teacher.first_name }} {{ teacher.last_name }}"
        />
        <h5 class="text-white">
          {{ teacher.first_name|title }} {{ teacher.last_name|title }}
        </h5>
        <p class="text-white">{{ teacher.bio }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="{% static 'main/js/teachers.js' %}"></script>
